NEWS_API_API_KEY=PUT_YOUR_KEYS_HERE
NEWS_API_BASE_URL=PUT_YOUR_URL_HERE

THE_GUARDIAN_API_KEY=PUT_YOUR_KEYS_HERE
THE_GUARDIAN_BASE_URL=PUT_YOUR_URL_HERE

NEW_YORK_TIMES_API_KEY=PUT_YOUR_KEYS_HERE
NEW_YORK_TIMES_BASE_URL=PUT_YOUR_URL_HERE